.dropdown {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;

    color: #e4d804;
    transition: all .3s;

    &:hover .arr-partner {
        transform: rotate(180deg);
    }
    &:hover .arr-partner path {
        fill: #e4d804;
    }
    &:hover {
        background: #161616;
        box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.4);
        border-radius: 12px;
    }
}
.wrap-munu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4d804;
}
.menu-btn {
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}
.arr-partner {
    transform: translateY(-1px);
    transition: all 0.3s;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    top: 75%;
    left: 0;
    min-width: 100%;
    overflow: hidden;
    background: #161616;
    border-radius: 12px;
    padding-left: 10px;
    padding-bottom: 20px;
    transition: all .3s;
    transform-origin: top left;
    transform: scale(0); 
}

.dropdown-content a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
}

.dropdown:hover .dropdown-content {
   transform: scale(1); 
}
