.hit {
    position: relative;
    border: 1px solid red;
    height: 411px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;


    
}
.hit__vew-port {
    width: 100%;
    // overflow: hidden;
    height: 100%;
    margin: 0 auto;
    border: 1px solid gold;
}

.hit__line {
    position: relative;
    
    display: flex;
    height: 100%;
    list-style: none;
    
    margin: 0;
    padding: 0;
    
    border: 1px solid blue;
    overflow: hidden;
}

.hit__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 294px;
    height: 413px;
    
    font-size: 100px;
}
.hit__item-0 {
    background-color: red;
}
.hit__item-1 {

    background-color: blue;
}
.hit__item-2 {

    background-color: green;
}
.hit__item-3 {
    background-color: grey;
}
.hit__item-4 {
    background-color: gold;
}
.hit__item-5 {
    background-color: pink;
}
.hit__item-6 {
    background-color: silver;
}
.hit__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em;

}
.hit__btn-prev {
    left: 0;
}
.hit__btn-next {
    right: 0;
}
