.header {
    background-color: $color-bg-alpha;
}

.header__container {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    column-gap: 10px;
    min-height: 120px;
}
.header__link-wrap-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

// nav

.nav {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 700px;
    width: 100%;
    padding: 0 20px;
}
.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    &:hover {
        color: $color-beta;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-beta;
        left: 0;
        bottom: 0;
        transform: scale(0);
        transition: all 0.3s;
        transform-origin: left;
    }
    &:hover::before {
        transform: scale(1);
    }
}

.header__nav-link {
    color: $color-light;
    @include linkMax();
    transition: all 0.3s;
    &:not(:last-child) {
        margin-right: 40px;
    }

    &:hover {
        color: $color-beta;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-beta;
        left: 0;
        bottom: 0;
        transform: scale(0);
        transition: all 0.3s;
        transform-origin: left;
    }
    &:hover::before {
        transform: scale(1);
    }
}

// /nav

.header__form-serch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__input-serch {
    display: none;
}
.header__btn-serch {
    background-color: transparent;
    padding: 2rem;
    border: none;
    outline: none;
}

@media (max-width: 1440px) {
    .header__container {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        padding-bottom: 50px;
        row-gap: 20px;
    }
    .header__link-wrap-logo {
        grid-column: 1 /-1;
        margin: 2rem 1rem;
    }
    .nav {
        margin: 20px 0;
        grid-column: 1 /-1;
    }

    .nav-list {
        max-width: 700px;
        width: 100%;
        padding: 0 20px;
    }
}
@media (max-width: 1250px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
    .nav {
        display: flex;
        justify-content: start;
    }
    .nav-list {
        display: none;
        position: absolute;
        z-index: 101;
        top: 100%;
        left: 0;
        flex-direction: column;
        background-color: #111;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        min-height: 300px;
        width: 100%;
    }
    .nav-link {
        justify-content: center;
        padding: 20px;
    }

    .nav-list--active {
        display: flex;
    }
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
