.soc {
    display: grid;
    row-gap: 6px;
}
.soc__share {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    color: $color-beta;
    
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    &::before {
        content: url("../../img/share.svg");
        margin-right: 7px;
    }
}
.soc__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    margin: 0;
    padding: 0;

}
.soc__link {


}
.soc__link:not(:last-child) {
    // margin-right: 15px; 
}
.soc-img {
     
}
