.search {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;

    max-height:60px;
    max-width: 400px;
    width: 100%;
    outline: none;
    box-sizing: border-box;

    border-radius: 9px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 70px;
    align-self: center;

    color: transparent;
    background-color: transparent;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0);

    transition: all .3s;

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.25);
        color: rgba(255, 255, 255, 0.7);
        background: #161616;
    }

    &:hover .search__input {
        color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    }
}

.search__input {
    outline: none;
    border: none;
    background-color: transparent;
    background: transparent;
    color: transparent;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
    opacity: 0;
    transition: all .3s;

}

.search__btn {
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    background-color: transparent;
    background: transparent;
}
// list result searc
.search__res-list {
    position: absolute;
    top: 102%;
    left: 0;
    width: 100%;
    cursor: pointer;
    background: #161616;
    padding: 0 20px;
    z-index: 100;
}
// /list result searc
