.search {
    align-self: center;
    margin-right: 20px ;
}
.search__form {
    position: relative;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: $color-bg-alpha;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid $color-beta;
    padding: 5px;

    &:hover,
    &:valid {
        width: 200px;
        cursor: pointer;
    }

    &:hover input,
    &:valid input {
        display: block;
    }

    // &:hover .fa,
    // &:valid .fa {
    //     background: #07051a;
    //     color: white;
    // }
    // &:valid a {
    //     display: block;
    // }
}

.search__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    color: $color-light;
    background-color: transparent;
}

.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    // padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    background-color: #111111;
    background-image: url(../../img/search.svg);
    background-repeat: no-repeat;
    background-position: 60% center;

}
.search__list {
    position: absolute;
    background-color: $color-dark;
    z-index: 10;
    padding: 0;
}

.search__item {
    padding:  .5em 1em;
}

.hidden {
    display: none;
}

.visual {
    display: block;
}
