.newest {
    display: flex;
    flex-direction: column;
    max-width: 1756px;
    width: 100%;
    // min-height: 2500px;
    margin: 0 auto;
    padding-top: 50px;
    background: $color-bg-alpha;
    box-shadow: 0px 0px 110px #000000;
    border-radius: 12px;
    margin-bottom: 45px;
}

.newest__top {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    margin: 0 58px 45px 58px;
}
.newest__title {
    align-self: center;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: $color-light;
}

.newest__subtitle {
    display: flex;
    align-self: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $color-beta;
    margin-left: 22px;
    padding: 0;
    margin: 0;

    &::before {
        content: "";
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin: 0 22px;
    }
}
.newest__wrap-btn {
    justify-self: end;
    position: relative;
    

}
.newest__btn {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
    margin: 0;
    width: 158px;
    height: 39px;
    background-color: transparent;
    border-radius: 3px;
    color: $color-light;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}
.newest__btn-arr {
    transform: translateY(-2px) ;
}
.newest__drop-list {
    // display: none;
    position: absolute;
    z-index: 20;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    color: $color-light;
    padding: 0;
    margin: 0;
}
.newest__drop-item {
    padding: .3em 1.9em;
}

.newest__content {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    margin: 0 auto;
    padding: 0;
}
// --  pagination block
.newest__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 195px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: $color-light;
}
.newest__pag-btn {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
}
.newest__arr-pag-left {
    transform: rotate(180deg);
}
.newest__pag-num {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em 0.5em 0.1em 0.5em;
     &--active {
        border: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 21px;
        font-weight: 700;
        color: $color-beta;
    }
}
// --  /pagination block
