.newest {
    display: flex;
    flex-direction: column;
    max-width: 1756px;
    width: 100%;
    // min-height: 2500px;
    margin: 0 auto;
    padding-top: 50px;
    background: $color-bg-alpha;
    box-shadow: 0px 0px 110px #000000;
    border-radius: 12px;
    margin-bottom: 45px;
}

.newest__top {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    margin: 0 58px 45px 58px;
}
.newest__title {
    align-self: center;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: $color-light;
}

.newest__subtitle {
    display: flex;
    align-self: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $color-beta;
    margin-left: 22px;
    padding: 0;
    margin: 0;

    &::before {
        content: "";
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin: 0 22px;
    }
}
.newest__wrap-btn {
    justify-self: end;
    position: relative;
}
.newest__btn {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
    margin: 0;
    width: 158px;
    height: 39px;
    background-color: transparent;
    border-radius: 3px;
    color: $color-light;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    &:hover {
        color: $color-beta;
    }
    &:hover .newest__btn-arr path {
    fill: $color-beta;
    }
}
.newest__btn-arr {
    transform: translateY(-2px);
    &--active {
        transform: translateY(-2px) rotate(180deg);
    }
}
.newest__drop-list {
    position: absolute;
    z-index: 20;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    color: $color-light;
    padding: 0;
    margin: 0;
    background-color: $color-bg-alpha;
    &--active {
        display: block;
    }
}
.newest__drop-item {
    padding: 0.4em 2.2em;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    &:hover {
        color: $color-beta;
    }
}

.newest__content {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    margin: 0 auto;
    padding: 0;
}
// --  pagination block
.newest__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 195px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: $color-light;
}
.newest__pag-btn {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
}
.newest__pag-next-btn {
    transform: rotate(180deg);
}
.newest__wrap-pag-num {
    display: flex;

}
.newest__pag-num {
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: $color-light;
    outline: none;
    border: none;
    padding: 5px;
    &--active {
        border: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 21px;
        font-weight: 700;
        color: $color-beta;
    }

}
// --  /pagination block

@media (max-width: 1710px) {
.newest__content {
    grid-template-columns: repeat(4, max-content);
}
}
@media (max-width: 1355px) {
.newest__content {
    grid-template-columns: repeat(3, max-content);
}
}
@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
.newest__content {
    grid-template-columns: repeat(2, max-content);
}
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 690px) {
.newest__content {
    grid-template-columns: repeat(1, max-content);
}
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {

}
