$color-light: #ffffff;
$color-dark: #000;

// $color-alpha: #232c7b;
$color-beta: #E4D804;

// $color-gamma: #c32f27;
// $color-delta:  #;
// $color-epsilon: #;
// $color-vau
// $color-zeta
// $color-eta
// $color-theta
// $color-iota
